/* Work sans font link from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.primary-btn {
  padding: 15px 20px;
  background: rgb(255, 144, 14);
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* header styles */
.header {
  width: 100%;
  background-color: rgba(255, 144, 14, 0.1);
  padding: 8px 0 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: rgb(19, 19, 19);
  font-size: 34px;
  font-weight: 700;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
}

.hero {
  margin-top: 76px;
}

.hero .hero-text {
  text-align: center;
  margin-bottom: 4rem;
}

.hero .hero-text h2 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 26px;
}

.hero .hero-text p {
  max-width: 700px;
  margin: 0 auto;
  color: rgb(114, 114, 114);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 26px;
}

.hero-img img {
  width: 100%;
}

.main {
  margin-top: 4rem;
}

.quick-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}

.quick-features-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.quick-features-left img {
  max-width: 16rem;
}

.quick-features-right h3 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 53px;
  color: rgb(114, 114, 114);
  margin-bottom: 1.5rem;
}

.quick-features-right p {
  color: rgb(114, 114, 114);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

/* will features */
.will-features {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.will-features-left > h3 {
  color: rgb(19, 19, 19);
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.will-features-left > p {
  color: rgb(114, 114, 114);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
}

.will-features-left .box-container .box {
  padding: 30px 42px 30px 30px;
}

.will-features-left .box-container .box h4 {
  color: rgb(19, 19, 19);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.will-features-left .box-container .box p {
  color: rgb(114, 114, 114);
  font-size: 0.78rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.will-features-right img {
  width: 31rem;
}

.will-features-right {
  position: relative;
}

.will-features-right .experience-box {
  padding: 2.2rem 4rem;
  background-color: rgb(255, 144, 14);
  text-align: center;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: -2rem;
  bottom: -2rem;
}

.will-features-right .experience-box h5 {
  font-size: 1.5rem;
  margin-bottom: 4px;
  font-weight: 700;
}

/* responsive design */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 12px;
  }
  .nav-logo {
    width: 100%;
    text-align: center;
  }

  /* quick features styles */
  .quick-features {
    flex-direction: column-reverse;
  }

  .quick-features-left {
    grid-template-columns: repeat(1, 1fr);
  }

  .quick-features-right {
    text-align: center;
  }
  /* will features */
  .will-features {
    flex-direction: column;
  }
  .will-features-right img {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .quick-features {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    gap: 12px;
  }
  .nav-logo {
    width: 100%;
    text-align: center;
  }

  /* will features */
  .will-features {
    flex-direction: column;
  }

  .will-features-right img {
    width: 100%;
  }
}
